<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jeffrey Biles" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/blog/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Jeffrey Biles</a>
    <a class="extra" href="/blog">Blog</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Jeffrey Biles<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://twitter.com/jeffreybiles/">twitter.com/jeffreybiles</a><br />
        <a href="http://facebook.com/jeffrey.biles.3">facebook.com/jeffrey.biles.3</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
