<div id="container">

<div style="min-height: 300px;">
<img src="https://s3.amazonaws.com/monsterbattle/battle-screen-screenshot-8-28-2014.jpg" class="pull-right screenshot" width="300px;">

<h1>Get addicted to math</h1>

<p>I've spent countless hours hooked into videogames, unable to pull myself away.  If you haven't experienced that, it's likely your kids have.</p>
<p>What if they could spend some of that time learning math?</p>
<p>I've studied what makes games addicting, and I'm putting that knowledge to use in order to make math a mesmerizing experience.</p>

</div>

<h1>Fully integrated math gameplay</h1>
<img src="https://s3.amazonaws.com/monsterbattle/tackle-minigame-screenshot-8-28-2014.jpg" class="pull-right screenshot" width="300px;">
<p>I've been a gamer <em>and</em> a math tutor.  Many people making educational games have only been one or the other.  Without knowledge of both games and learning, you'll end up with a product that doesn't work.  Gamers usually make a game that doesn't really teach math, while math tutors usually make a game that just isn't that fun.
<p>In Math Monsters, the math is the core of the game.  Players fight with pet monsters whose power goes up as you practice and as you learn new math skills.  The harder the math skill, the more powerful the attack!
<p>So while the player is motivated to learn harder skills, they are allowed to learn at their own pace.  This makes for a learning process that is both relaxing and exciting!

<h1>Coming Soon</h1>
<img src="https://s3.amazonaws.com/monsterbattle/earth.png" width="100px" class="pull-right">
<p>In the next few months, I'll be releasing the kindergarten curriculum.  Subscribers to the newsletter will be the first ones invited to experience it.

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{font:14px Helvetica,Arial,sans-serif;  width:450px;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//jeffreybiles.us6.list-manage.com/subscribe/post?u=57acf0a0097cff003a637db00&amp;id=4483202b6c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Yes, I want to be the first to know about Math Monsters!</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_57acf0a0097cff003a637db00_4483202b6c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
