<div class="container">
  <div id="game">
    <div id="modeButtons">
      <button id="pacifist" >Pacifist</button>
      <button id="normal">Normal</button>
      <button id="followingOrders">Just following orders</button>
      <button id="devilMadeMe">Devil made me do it</button>
    </div>
    Click for anger, arrows for fear.
    <!--    ->  Click for justice, arrows for truth -> Click for God, arrows for family  -> Click for charbitosh, arrows for camphenine-->
    <div id="holdsMyGame">
      <canvas id="myCanvas" width=800 height=600></canvas>
    </div>
  </div>
</div>

<script type="text/javascript">blowback()</script>