.writing_container.center
  %h3
    %a(href="mailto:bilesjeffrey@gmail.com") Email Me
  %h3
    %a(href="http://www.linkedin.com/profile/view?id=191858664") Link Me In
  %h3
    %a(href="#there is not even an echo. Please try a different option.") Shout into the void