<div id="games">
    <h2>Games</h2>
    <div class="line825"></div>
    <div class="game"><a href="http://tribulate.herokuapp.com">
        <img src="https://s3.amazonaws.com/jeffreysite/tribulate-cropped.png">
        <div class="exposition">
            <h3>Tribulate</h3>
    </a>
            <p>My biggest, baddest game.  Baddest in both senses.  View it more as a tech demo, showing that I can
                do complicated personalized persistence in Rails.
            <p>It's halfway between a choose-your-own-adventure story and a role-playing game.</p>
            <p>Requires either login or facebook connection.</p>
        </div>
    </div>
    <div class="game">
        <img src="https://s3.amazonaws.com/jeffreysite/tat_cropped.png">
        <div class="exposition">
            <h3>Theme and Variation (shooting)</h3>
            <p>You could view it as a treatise on the senselessness of violence.
            <p>You could also view it as a series of fun twists on the space shooter concept.</p>
            <ul>
                <li><a href="/blowback">Blowback</a></li>
                <li><a href="http://jeffreybiles.com/tat">Tat</a></li>
                <li><a href="http://jeffreybiles.com/vengeance">Vengeance</a></li>
                <li><a href="/sectarian">Sectarian</a></li>
            </ul>
        </div>
    </div>
    <div class="game">
        <a href="/numbernommers2">
        <img src="https://s3.amazonaws.com/jeffreysite/numbernommers2_cropped.png">
        <div class="exposition">
            <h3>Number Nommers 2</h3>
        </a>
            <p>If I were trapped on a desert island and could only blatantly rip off one 80's educational game...
            <p>You can also play the first (less complicated) iteration:
            <a href="http://jeffreybiles.com/numbernommers">Number Nommers 1</a> </p>
        </div>
    </div>
    <div class="game">
        <a href="/lightseeker">
            <img src="https://s3.amazonaws.com/jeffreysite/lightseeker_cropped.png">
            <div class="exposition">
                <h3>LightSeeker</h3>
        </a>
        <p>Follow the Light.  If you cannot see the light, look to the shadows.</p>
        <p>Spook mode and hard mode both highly recommended.</p>
        </div>
    </div>
    <div class="game">
        <a href="boundaries">
            <img src="https://s3.amazonaws.com/jeffreysite/boundaries_cropped.png">
            <div class="exposition">
                <h3>Boundaries</h3>
        </a>
        <p>Atomic* gladiators. Now with contradictory and outdated physics.
        <p>*No atoms were harmed in the making of this game.
        <p>Originally made for Ludum Dare 23, scored in the top 10% for innovation and fun, and the top 20% for humor.
            I'm not really sure how that last part happened.</p>
        </div>
    </div>
    <div class="game">
        <a href="/cat4">
            <img src="https://s3.amazonaws.com/jeffreysite/cat4_cropped.png">
            <div class="exposition">
                <h3>Cat 4</h3>
        </a>
        <p>It's like connect 4, but this time you <b>want</b> the cat to win.
        </div>
    </div>
    <div class="line825"></div>
</div>


</body>
</html>