<div id="container">

  <h2 class='center'>
    Hi, I'm Jeffrey Biles
  </h2>
  <p>I'm a programmer, educator, and consultant specializing in Ember.js.</p>
  <p>I create <a href="http://www.emberscreencasts.com">EmberScreencasts.com</a>, twice-weekly screencasts about the Ember.js framework and ecosystem.  I host the <a href="http://real-world-ember.com/">Real World Ember podcast</a>, and I'm working on several other Ember-related education products, including the introductory book <a href="https://leanpub.com/buildpacman">BUILD PACMAN</a> and some Ember trainings.</p>
  <p>In the past couple years I've worked for <a href="https://www.altschool.com/">altSchool</a>, <a href="http://www.frontside.io">The Frontside</a>, <a href="http://www.c-s-d.org/">Communication Service for the Deaf</a>, and <a href="http://mytennislessons.com/">MyTennisLessons.com</a>.</p>
</div>
