<div class="container">

  <div id="game">
    <div>
      <button id="normalMode" > Normal Mode</button>
      <button id="hardMode"> Hard Mode</button>
      <button id="insaneMode"> Insane Mode </button>
      ||
      <button id="spookMode"> Spook Mode </button>
      <button id="hardSpookMode"> Hard Spook Mode</button>
    </div>
    All arrows.  Follow the Light.  If there is no light, look to the shadows.
    <div id="holdsMyGame">
      <canvas id="myCanvas" width=800 height=600></canvas>
    </div>
  </div>
  <script type="text/javascript">
     lightseeker()
  </script>
</div>