<div id="resume_switcher">
  <button id="serious">Serious</button>
  <!-- <button id="exciting">Exciting</button> -->
  <button id="buzzword">Buzzword</button>
</div>
<div id="resumes">
  <div id="2010">
    <h4>UC Berkeley Internship</h4>
    <ul>
      <li><a href="http://pubs.acs.org/doi/abs/10.1021/jp2004166">Isomer Population Analysis of Gaseous Ions from Infrared Multiple Photon Dissociation Kinetics</a>, Journal of Physical Chemistry A 2011, 115, 2745-2751.</li>
      <li><a href="http://pubs.acs.org/doi/abs/10.1021/ja106167d">Entropy Drives an Attached Water Molecule from the C- to N-Terminus on Protonated Proline</a>, Journal of the American Chemical Society 2010, 132, 14733-14735</li>
    </ul>
    <h4>First programming language: scheme</h4>
    <h4>Chemistry and physics tutor</h4>
  </div>
  <div id="2011">
    <h4>Graduated Hendrix College</h4>
    <ul>
      <li>Chemical Physics Major (3.9 GPA)</li>
      <li>Computer Science Minor (4.0 GPA)</li>
      <li>Phi Beta Kappa</li>
    </ul>
    <h4>Took some tests</h4>
    <ul>
      <li>GRE Math: top 1%</li>
      <li>GRE Verbal: top 1%</li>
      <li>GRE Computer Science: top 14%</li>
    <ul>
    <h4>Math and Physics Tutor</h4>
  </div>
  <div id="2012">
    <h4>Joined <a href="http://staunchrobots.com/">Staunch Robots</a>, a Ruby on Rails consultancy</h4>
    <h4>Publications</h4>
    <ul>
      <li><a href="http://scriptcasts.net">scriptcasts.net</a></li>
      <li><a href="http://staunchrobots.com/blog/blog/2012/08/31/gemifying/">Gemifying your app for fun and profit</a></li>
      <li><a href="http://jspro.com/coffeescript/an-introduction-to-coffeescript/#.ULZyLuOe9BA">Introduction to Coffeescript</a></li>
      <li><a href="http://jspro.com/coffeescript/list-processing-in-coffeescript/#.ULZyB-Oe9BA">List Processing in Coffeescript</a></li>
      <li>Prototypal inheritance in Javascript (published soon...)</li>
      <li>Classical inheritance in Coffeescript (published soon...)</li>
      <li>How coffeescript creates classes from javascript prototypes (published soon...)</li>
    </ul>
    <h4>Games</h4>
    <ul>
      <li><a href="http://handofpong.com/">HeadPong</a></li>
      <li>Theme and Variation: Shooting
        <ul>
          <li><a href="/blowback">Blowback</a></li>
          <li><a href="/tat">Tat</a></li>
          <li><a href="/vengeance">Vengeance</a></li>
          <li><a href="/sectarian">Sectarian</a></li>
        </ul>
      </li>
      <li><a href="http://tribulate.herokuapp.com/">Tribulate</a></li>
      <li><a href="/numbernommers">Number Nommers 1</a>, <a href="/numbernommers2">Number Nommers 2</a></li>
      <li><a href="/lightseeker">LightSeeker</a></li>
      <li><a href="/boundaries">Boundaries</a></li>
    <ul>
    <h4>Speeches</h4>
    <ul>
      <li>Making games with html5 canvas and coffeescript (Barcamp Conway, May).  <a href="/blowback/making_of/">Notes here</a></li>
      <li>Your brain on javascript (MedellinJS, upcoming)</li>
    </ul>
    <h4>4 months in Medellin, Colombia</h4>
    <h4>Math and Physics Tutor</h4>
  </div>
    <ul>
  </div>
  <div id="exciting_resume">
    <h3><i>In a constantly-changing environment, how fast you can learn matters just as much as what you already know.</i></h3>

    <ul>
      <li>Write first program → top 14% of computer science grads (who took the CS GRE):  17 months</li>
      <li>Zero business knowledge → winning a business plan competition (against business majors):  2 months</li>
      <li>Rails for Zombies → playable online rpg with custom CMS:  4 months.</li>
      <li>Cut and paste javascript → fully functional client-side game: 1 week</li>
    </ul>

    <p>All of these are me, working mostly alone, while dealing with school or work.  Imagine:  I'm surrounded by your team, focusing my efforts exactly where you need them.  When you hire me, you're not just getting a list of skills;  you're getting dedication, agility, the ability to pivot on a dime and still ship.</p>

    <h4><i>The downsides</i></h4>

    <p>If your workplace culture is one that measures hours-at-a-desk or line-of-code-written as the primary productivity unit, I will not fit in.  If you are doing something 'evil', by the Google definition of the word, I will not fit in.  If there is so much gravitas or so much partying that nothing gets done, I will not fit in.  If your hiring system is a regex, you're not even seeing this.</p>

    <h4><i>If you like what you see, and you're not disqualified by the above paragraph, let's talk.</i></h4>

    Other things:
    <ul>
      <li>Phi Beta Kappa</li>
      <li>Eagle Scout</li>
      <li>Chemical Physics degree</li>
      <li>Willing to relocate</li>
    </ul>
  </div>
  <div id="serious_resume">
    <h3>Education</h3>
    <ul>
      <li>Hendrix College, 2011</li>
      <li>GPA: 3.87</li>
      <li>Chemical Physics major (3.9)</li>
      <li>Computer Science minor (4.0)</li>
    </ul>
    <h3>Awards</h3>
    <ul>
      <li>1st place Hendrix College Business Plan Competition</li>
      <li>Phi Beta Kappa</li>
      <li>Eagle Scout</li>
      <li>Top 1% GRE Math and Verbal</li>
      <li>Top 14% Computer Science GRE</li>
      <li>SURF grant recipient</li>
      <li>John. E. Stuckey Award for outstanding first year chemistry student</li>
    </ul>

    <h3>Publications</h3>
    <p class='twelvepix'>Prell, J. S.; Chang, T. M.; Biles, J. A.; Berden, G.; Oomens, J.; Williams, E. R. Isomer Population Analysis of Gaseous Ions from Infrared Multiple Photon Dissociation Kinetics  J. Phys. Chem. A 2011, 115, 2745-2751.</p>
    <p class='twelvepix'>Prell, J. S.; Correra, T. C.; Chang, T. M.; Biles, J. A.; Williams, E. R. Entropy Drives an Attached Water Molecule from the C- to N-Terminus on Protonated Proline  J. Am. Chem. Soc. 2010, 132, 14733-14735</p>

    <h3>Employment</h3>
    <ul>
      <li>July 2012 - Present: Developer at Staunch Robots</li>
      <li>April 2012 - July 2012: Freelance web development</li>
      <li>July 2011 – May 2012: Private tutor in Calculus, Physics, Algebra, and General Science</li>
      <li>August 2009 – May 2011: Physics, Chemistry peer mentor (Hendrix College)</li>
      <li>May – August 2010: Physical Chemistry laboratory intern (Williams lab, UC Berkeley)</li>
      <li>May – August 2009: Genetics laboratory intern (Duina lab, Hendrix College)</li>
    </ul>
  </div>
  <div id="buzzword_resume">
    <i><b>This is in no way an actual resume.</b></i>
    <h1>I am a scalable, agile team player.</h1>
    <p>When you need to gamify your synergies, or add that extra presentation layer to your mobile revenue stream,
      I am there 24/7, 110%.
    <p>I am committed to mission statement, intent on exponentiating measurables and extracting value.  My design-pattern focus
      and personal achievement matrix combine to produce sustainable metaprogramming structures.
    <p>My attention to detail and big-picture thinking are all uploaded to the cloud, creating customer satisfaction and
      viral pattern-switch marketing.
    <p>My pad of social media graphing paper is soaked from brainstorms.
    <p>Your shareholders will be maximized to have me.



  </div>
</div>
</div>