<div id="resume_switcher">
  <button id="serious">Serious</button>
  <button id="exciting">Exciting</button>
  <button id="buzzword">Buzzword</button>
</div>
<div id="resumes">
  <div id="exciting_resume">
    <h3><i>In a constantly-changing environment, how fast you can learn matters just as much as what you already know.</i></h3>

    <ul>
      <li>Write first program → top 14% of computer science grads (who took the CS GRE):  17 months</li>
      <li>Zero business knowledge → winning a business plan competition (against business majors):  2 months</li>
      <li>Rails for Zombies → playable online rpg with custom CMS:  4 months.</li>
      <li>Cut and paste javascript → fully functional client-side game: 1 week</li>
    </ul>

    <p>All of these are me, working mostly alone, while dealing with school or work.  Imagine:  I'm surrounded by your team, focusing my efforts exactly where you need them.  When you hire me, you're not just getting a list of skills;  you're getting dedication, agility, the ability to pivot on a dime and still ship.</p>

    <h4><i>The downsides</i></h4>

    <p>If your workplace culture is one that measures hours-at-a-desk or line-of-code-written as the primary productivity unit, I will not fit in.  If you are doing something 'evil', by the Google definition of the word, I will not fit in.  If there is so much gravitas or so much partying that nothing gets done, I will not fit in.  If your hiring system is a regex, you're not even seeing this.</p>

    <h4><i>If you like what you see, and you're not disqualified by the above paragraph, let's talk.</i></h4>

    Other things:
    <ul>
      <li>Phi Beta Kappa</li>
      <li>Eagle Scout</li>
      <li>Chemical Physics degree</li>
      <li>Willing to relocate</li>
    </ul>
  </div>
  <div id="serious_resume">
    <h3>Education</h3>
    <ul>
      <li>Hendrix College, 2011</li>
      <li>GPA: 3.87</li>
      <li>Chemical Physics major (3.9)</li>
      <li>Computer Science minor (4.0)</li>
    </ul>
    <h3>Awards</h3>
    <ul>
      <li>1st place Hendrix College Business Plan Competition</li>
      <li>Phi Beta Kappa</li>
      <li>Eagle Scout</li>
      <li>Top 1% GRE Math and Verbal</li>
      <li>Top 14% Computer Science GRE</li>
      <li>SURF grant recipient</li>
      <li>John. E. Stuckey Award for outstanding first year chemistry student</li>
    </ul>

    <h3>Publications</h3>
    <p class='twelvepix'>Prell, J. S.; Chang, T. M.; Biles, J. A.; Berden, G.; Oomens, J.; Williams, E. R. Isomer Population Analysis of Gaseous Ions from Infrared Multiple Photon Dissociation Kinetics  J. Phys. Chem. A 2011, 115, 2745-2751.</p>
    <p class='twelvepix'>Prell, J. S.; Correra, T. C.; Chang, T. M.; Biles, J. A.; Williams, E. R. Entropy Drives an Attached Water Molecule from the C- to N-Terminus on Protonated Proline  J. Am. Chem. Soc. 2010, 132, 14733-14735</p>

    <h3>Employment</h3>
    <ul>
      <li>July 2011 – Present: Private tutor in Calculus, Physics, Algebra, and General Science</li>
      <li>August 2009 – May 2011: Physics, Chemistry peer mentor (Hendrix College)</li>
      <li>May – August 2010: Physical Chemistry laboratory intern (Williams lab, UC Berkeley)</li>
      <li>May – August 2009: Genetics laboratory intern (Duina lab, Hendrix College)</li>
    </ul>
  </div>
  <div id="buzzword_resume">
    <i><b>This is in no way an actual resume.</b></i>
    <h1>I am a scalable, agile team player.</h1>
    <p>When you need to gamify your synergies, or add that extra presentation layer to your mobile revenue stream,
      I am there 24/7, 110%.
    <p>I am committed to mission statement, intent on exponentiating measurables and extracting value.  My design-pattern focus
      and personal achievement matrix combine to produce sustainable metaprogramming structures.
    <p>My attention to detail and big-picture thinking are all uploaded to the cloud, creating customer satisfaction and
      viral pattern-switch marketing.
    <p>My pad of social media graphing paper is soaked from brainstorms.
    <p>Your shareholders will be maximized to have me.



  </div>
</div>
</div>