<div id="resume_switcher">
  <button id="2010">2010</button>
  <button id="2011">2011</button>
  <button id="2012">2012</button>
  <button id="buzzword">Buzzword</button>
</div>
<div id="resumes">
  <div id="2010Resume">
    <h4>UC Berkeley Internship</h4>
    <ul>
      <li><a href="http://pubs.acs.org/doi/abs/10.1021/jp2004166">Isomer Population Analysis of Gaseous Ions from Infrared Multiple Photon Dissociation Kinetics</a>, Journal of Physical Chemistry A 2011, 115, 2745-2751.</li>
      <li><a href="http://pubs.acs.org/doi/abs/10.1021/ja106167d">Entropy Drives an Attached Water Molecule from the C- to N-Terminus on Protonated Proline</a>, Journal of the American Chemical Society 2010, 132, 14733-14735</li>
    </ul>
    <h4>First programming language: scheme</h4>
    <h4>Chemistry and physics tutor</h4>
  </div>
  <div id="2011Resume">
    <h4>Graduated Hendrix College</h4>
    <ul>
      <li>Chemical Physics Major (3.9 GPA)</li>
      <li>Computer Science Minor (4.0 GPA)</li>
      <li>Phi Beta Kappa</li>
    </ul>
    <h4>Took some tests</h4>
    <ul>
      <li>GRE Math: top 1%</li>
      <li>GRE Verbal: top 1%</li>
      <li>GRE Computer Science: top 14%</li>
    </ul>
    <h4>Math and Physics Tutor</h4>
  </div>
  <div id="2012Resume">
    <h4>Joined <a href="http://staunchrobots.com/">Staunch Robots</a>, a Ruby on Rails consultancy</h4>
    <h4>Publications</h4>
    <ul>
      <li><a href="http://scriptcasts.net">scriptcasts.net</a></li>
      <li><a href="http://coderise.org/">CodeRise</a> javascript curriculum</li>
      <li><a href="http://staunchrobots.com/blog/blog/2012/08/31/gemifying/">Gemifying your app for fun and profit</a></li>
      <li><a href="http://jspro.com/coffeescript/an-introduction-to-coffeescript/#.ULZyLuOe9BA">Introduction to Coffeescript</a></li>
      <li><a href="http://jspro.com/coffeescript/list-processing-in-coffeescript/#.ULZyB-Oe9BA">List Processing in Coffeescript</a></li>
      <li>Prototypal inheritance in Javascript (published soon...)</li>
      <li>Classical inheritance in Coffeescript (published soon...)</li>
      <li>How coffeescript creates classes from javascript prototypes (published soon...)</li>
    </ul>
    <h4>Games</h4>
    <ul>
      <li><a href="http://handofpong.com/">HeadPong</a></li>
      <li>Theme: Reciprocal Violence
        <br>
        Variations: <a href="/blowback">Blowback</a>, <a href="/tat">Tat</a>, <a href="/vengeance">Vengeance</a>, <a href="/sectarian">Sectarian</a>
      </li>
      <li><a href="http://tribulate.herokuapp.com/">Tribulate</a></li>
      <li><a href="/numbernommers">Number Nommers 1</a>, <a href="/numbernommers2">Number Nommers 2</a></li>
      <li><a href="/lightseeker">LightSeeker</a></li>
      <li><a href="/boundaries">Boundaries</a></li>
    </ul>
    <h4>Speeches</h4>
    <ul>
      <li>Making games with html5 canvas and coffeescript (Barcamp Conway, May).  <a href="/blowback/making_of/">Notes here</a></li>
      <li>Your brain on javascript (MedellinJS, upcoming)</li>
    </ul>
    <h4>4 months in Medellin, Colombia</h4>
    <h4>Math and Physics Tutor</h4>
  </div>
  <div id="buzzwordResume">
    <i><b>This is in no way an actual resume.</b></i>
    <h1>I am a scalable, agile team player.</h1>
    <p>When you need to gamify your synergies, or add that extra presentation layer to your mobile revenue stream,
      I am there 24/7, 110%.
    <p>I am committed to mission statement, intent on exponentiating measurables and extracting value.  My design-pattern focus
      and personal achievement matrix combine to produce sustainable metaprogramming structures.
    <p>My attention to detail and big-picture thinking are all uploaded to the cloud, creating customer satisfaction and
      viral pattern-switch marketing.
    <p>My pad of social media graphing paper is soaked from brainstorms.
    <p>Your shareholders will be maximized to have me.
  </div>
</div>
</div>