<div class="container">
  <div id="game">
    <div>
      <button id="dedicated">Dedicated</button>
      Enemies
      <button id="citizen-soldier">Citizen-soldier</button>
    </div>
    <div id="modeButtons">
      <button id="normal" >Normal</button>
      <button id="feud">Feud</button>
      <button id="occupation">Occupation</button>
    </div>
    Click for God, arrows for country
    <div id="holdsMyGame">
      <canvas id="myCanvas" width=800 height=600></canvas>
    </div>

  </div>
</div>
<script type="text/javascript">vengeance()</script>