<div class="writing_container" xmlns="http://www.w3.org/1999/html">
<h1>LET'S CON TEN YOU</h1>
  <p>You may recall that in our <a href="/blowback/making_of/1">last session</a>, we made a high-quality mid-90s screensaver.  However, we meant to make a game.
  <iframe style="width: 100%; height: 350px" src="http://jsfiddle.net/2vNsz/40/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>OOPS.</p>
  <p>Before we move on, though, we'll have to do a litte bit of cleanup.</p>

<h2>Classy</h2>
  <p>We don't have much code yet, but it's already a mess.  It's all just thrown there with little in the way of rhyme or reason.
  While it is not necessary to have your code rhyme (in fact, it's quite difficult!), reason is absolutely essential.
    Right now we have our "let's draw a circle" logic right in there with our "let's move a circle" and "let's clear the screen" logic.</p>
  <p>The first thing we'll do is separate it into functions.</p>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/47/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>You'll notice two things right away.  The first is that it's easier to understand what the code is doing in mainLoop.
    You clear the rectangle, move the circle, draw the circle, then repeat.  The second thing is not quite as rosy.</p>
  <p>You see, we're now using more code to do the same thing.  I point this out as a weakness because, generally, less code is better.
    However, in this case the readability it provides is worth it.
  <p>Now, we're going to add even more code for doing the same thing.  This time we will gain reusability,
  which means that once we write one circle it's trivially easy to create as many circles as we want.
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/53/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>If you're coming from almost any language besides lisp or javascript, I don't have to tell you why classes are a good thing.
    But wait, you say, isn't coffeescript javascript?  Yes, kind of.  It compiles down into regular javascript,
    usually on a line-for-line basis, but the designers thought classes were a big enough win that they broke their
    line-for-line ethos in this one case.  We'll soon see what classes can do for us, but first we'll need to figure what is going on here.</p>
  <p>The basics are that we define a class (in this case, Circle) and then we call 'new Circle(arguments)' to create an "instance" of that class.
    The class is all the rules that define the behaviour of a circle, and the instance is one specific circle.  We'll assign that instance to a variable (in this case 'circle').</p>
  <p>We have variables and functions attached to our class.  A circle knows how to move and draw itself.  You'll notice that these functions are
  the same as the ones we defined last time, but now we have little funny @ symbols attached to all the variables.  That symbol is a way of saying
  'mine!'.  The x position belongs to that circle and no one else!  Each circle from now on will have its own variables.
    That makes it a lot easier to have as many circles (or, to use the object terminology, as many instances of Circle) as we want.</p>
  <iframe style="width: 100%; height: 360px" src="http://jsfiddle.net/2vNsz/55/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>That's just three more lines per circle.  But wait!  We can do even better!</p>

<h2>Liszt Kong Prehension</h2>
  <p>What if we could make it so it took literally one line to make as many circles as we wanted.  Would your mind be BLOWN?! It should be (unless you are familiar with python, ruby, haskell, scala, or any other proper functional language).
    In coffeescript, we do it through list comprehensions.  Here's the code for the first step.</p>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/58/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

  <p>There's two things to notice here.  The first is at the bottom, where we define a list (an array) of our circles.
    The second is in our main loop where instead of calling 'move' and 'draw' manually on each circle, we use a list comprehension to
    call them on every circle in our list in one line.
  <p>It's pretty easy to see what's going on because the list comprehension syntax is shockingly close to English, but to be perfectly clear:
    for every item in the list 'circles', we temporarily assign it to the variable 'circle' then call 'move' on it.  Read it again.
  <p>circle.move() for circle in circles
  <p>Boom.
  <p>We can do the same thing for the second list comprehension.
  <p>We're down to only adding one line per new circle, but I promised one line to create as many circles as you want!  We've still got some work to do.
  <p>This next step is just setting some groundwork for the big reveal.</p>
  <iframe style="width: 100%; height: 360px" src="http://jsfiddle.net/2vNsz/57/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>This reveals another way of working with lists.  Notice that we don't ever assign each circle to their own variable.
    We simply define 'circles' at the top and 'push' each new circle directly onto the list.  "push" simply means to add it
    to the end of the list.  The effect of this code is the exact same as the previous code, and circles will still be a list of the
    exact same three circles.
  <p>Now we're ready for some magic.

<h2>Fact Tore Ease</h2>
  <p>We're going to make a function where we can say "make 5 circles", and then it gives us 5 circles.
    We want something that can <i>Mass Produce</i> circles.  This type of thing is called a 'Factory'.
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/62/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>This is pretty simple:  we make function that takes a number then goes through a loop that many times, making a new circle each time.  </p>
  <p>The 'for i in [1..num]' is another version of a list comprehension, but with three things changed.
  The first change is that instead of putting the command at the front, it gives a list of commands afterwards.
    This makes it look a lot more like a traditional 'for' loop.  The second is that the variable 'i' is never used.  That's okay.
    This loop is just taking each item in the list and using it as a counter, not as an actual object.</p>
  <p>Speaking of lists, where is this list we're supposed to be comprehending?  It's in [1..num].  What that does is make a list of
  every integer between 1 and the number given.  Then, as mentioned before, the function goes through each of the items,
    ticking them off and making a circle for each tick.</p>
  <p>This is great, and an important step, for our game, but so far it's been kind of boring.  Let's make a few minor changes to spruce things up.</p>

<h2>Part Hay</h2>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/65/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>Now we're up to the level of a Windows 98 screensaver.  Improvement!  <a href="/blowback/making_of/3">Next session</a> we'll add interactivity,
    giving us a way to move the player circle, as well as adding a reason for the player to avoid all the other circles.</p>

</div>