<div class="writing_container">

<h1>I LIKE TO MOVE IT MOVE IT</h1>
<p>Let's get started right away.  And to facilitate that, we're going to take part of our code temporarily back to the dark ages (aka, no list comprehensions).</p>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/69/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
<p>First, click on the screen so that it will pick up your commands.  Then, press and hold one of the arrow keys.  Or many of them at once.</p>
<p>You see that?  That's the first step on the way to making our game interactive.</p>
<p>You'll notice that a <b>lot</b> of code has been added.  The good news is that this code can be used practically verbatim
  in any project where you require interaction of this sort.  This means that we don't have to go over it as painstakingly as we did the code in the last installment.</p>
<p>Still, there are some basics you need to be aware of.  First, each key on the keyboard has a number.  For example, 37 is 'left'.
  There are two different events that the keyboard can fire: keyup and keydown.  As you can guess, when you press a button keyup is fired,
  and when you release a button keydown is fired.</p>
<p>What we're doing is whenever keydown is fired, we add that key to a list.  When keyup is fired, we take it off that list.
  The list is of every key that is currently being pressed.</p>
<p>And what, exactly, is firing anyways?  It's something the browser sends to your code.</p>
<p><i>It is okay if you don't understand anything in this section.</i>  I didn't get everything until the third or fourth time I used this code.
  The point is, copy the code and look into it more if you need to change it.</p>
  <p>For the rest of the time we can safely ignore all that messy keyboard code.  To signal that, I'm going to put it at the bottom.
    I'm also going to take our code back up to modernity by reimplementing list comprehensions.  Now, on to better things!</p>

<h2>Play York Lass</h2>
  <p>What we want now is to be able to control one circle but have the rest bouncing around randomly.  The first attempt we'll make will work, but is incredibly naive:
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/77/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>We made two classes:  Circle (using our code from part 2) and Player(using our code from just now).  This works, but you'll notice that
  the 'move' and 'draw' functions are <i>exactly the same</i>.  That's because Player is a special type of Circle.</p>
  <p>In coffeescript (and other object-oriented languages) there is a the concept of a "subclass".  Basically, you take the functionality
  of one class and change it.  Here's the same thing, but with Player existing as a subclass of Circle.</p>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/76/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>You'll notice that Player only has functions for 'constructor' and 'update'.  That's because, as we said before, 'draw' and 'move' are exactly
  the same for Player and Circle.  If the computer doesn't find a function in the subclass (Player) it will look for it in the superclass (Circle).
  You just saved lots of code!  It gets even better when you have multiple subclasses, and in case you're wondering, we will eventually have
  subclasses for Player, Enemy, and Bullet.</p>

<h2>Cull Her, Soup Her</h2>
  <p>In case you were wondering, <b>no</b>, we haven't fully explored the power of classes yet.  We want to have players
    and enemies be different colors, and to do that we will use a tool called 'super'.</p>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/86/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>The first thing you'll notice is that we made a subclass called Enemy.  From now on, we won't be making any plain circles.  Circle is just something
  that describes what all circles have in common.  To underscore this, I took out the constructor method from Circle.</p>
  <p>The second difference is that Circle and both of the subclasses have a method called draw.  If both of the subclasses
    have this method, why keep one around on the superclass?  The answer is that even though we want to draw the circles as
  different colors, they still share most of the drawing code.  Thus, we have kept most of the code in Circle's draw method, while
  each of the subclasses call 'super'.  'super' calls the same method, but on the superclass.  In this case, we have each of the
  subclasses' 'draw' methods simply feeding the superclass's (Circle's) 'draw' method a color.</p>

<h2>Cull His Shins</h2>
  <p>We've made good progress today, but before we go, we should fix one problem.  Simply, our enemies are not very frightening...
    you can pass through them just like ghosts!  We need something called 'collision detection', which will tell us when two
    objects have collided.  However, we don't want enemies destroying each other, and we don't want each object destroying itself,
    so we'll need to be smart about it.  However, being smart doesn't mean we can't throw together a few temporary hacks to get us started.</p>
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/93/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>We've written two very respectable functions, findDistance and hasCollidedWith (the second of which is attached to the Circle class),
    and we'll discuss them more in a bit.  The hack is in the main loop, where we call the hasCollidedWith function.  The hack part is that
    we're assuming that we will only have two circles, one of which is the player.  We'll fix this later, of course.</p>
  <p>One good thing about this function call that I would like you to notice is that it reads very much like English:  player.hasCollidedWith(enemy).
    As you might expect, it returns true if they have collided and false if they haven't.  Someone reading this code in the future
    would know pretty much what the function does without having to look it up.  Compare that to if we had done bash-style naming; plyr.hclw(nmy).
    That'll make sense for about the next ten minutes, but something well-named will make sense for years.</p>
  <p>Back to our code.  The last hacky part is that it simply calls an alert when the function returns true.  This is good enough for testing, but
  it would be terrible in a game.</p>
  <p>Now to the meat of the section.  hasCollidedWith is attached to Circle, and simply compares the radii with the distance between
  the two circles.  To do that, it calls findDistance, an unattached function that simply takes two objects and does some trigonometry
  to figure out how far apart they are.  It also does something clever so that if you accidentally compare an object with itself, it will
  tell you it is far far away.  While this does couple the function with hasCollidedWith, and coupling is generally bad practice, it will do for now.</p>
  <p>One question you might be asking:  why is hasCollidedWith attached to Circle but findDistance is not?  The simple answer is that hasCollidedWith relies
  on both objects having a radius, while findDistance merely requires an x and a y value.  Thus, we could use findDistance for other shapes if the need arose.</p>

<h2>Sir Rounded</h2>
  <p>Because of one of the hacks used to get the example up and running quickly, it's currently impossible to have more than one enemy.  Let's fix that.
  <iframe style="width: 100%; height: 300px" src="http://jsfiddle.net/2vNsz/100/embedded/js,result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  <p>Here's what we did:  first, we reinstated circleFactory as enemyFactory.  Then, we called it with eight circles, and added our player to the end of circles as well.
  However, we also kept player around in a variable so that we can call methods specifically on it.  We do that in the main loop, calling our new method
  'checkAllCollisionsWith', which takes a list of circles and calls hasCollidedWith for each one of them.

<h2>Lay Tar</h2>
  <p>Next time, we'll be making bullets.  This will require mouse detection, some trig, and even more advanced collision detection.  See you then!</p>

</div>
