<!DOCTYPE html>
<html>
<head>
  <title>Personalsite  Yay!!!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar">
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <!--    <a href="http://blog.jeffreybiles.com">Blog</a>-->
    <a href="https://github.com/jeffreybiles">GitHub</a>
    <a href="/resume">Resume</a>
</div>

<%= yield %>

</body>
</html>
