<!DOCTYPE html>
<html>
<head>
  <title>Jeffrey Biles!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30302804-1']);
      _gaq.push(['_setDomainName', 'jeffreybiles.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>

<div id="navbar">
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <!--    <a href="http://blog.jeffreybiles.com">Blog</a>-->
    <a href="https://github.com/jeffreybiles">GitHub</a>
    <a href="/resume">Resume</a>
    <a href="/contact">Contact</a>
</div>

<%= yield %>
<div id="clear"></div>
<div id="footer" class="center writing_container">Want to tell me something really short?  Find me <a href="https://twitter.com/JeffreyBiles">on twitter</a>.</div>
</body>
</html>
